:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(assets/background.jpg);
  background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.custom-btn {
  text-decoration: none;
  background-color: green;
  padding: 12px;
  padding: 12px;
  border-radius: 8px;
  color: white;
}

.custom-btn:hover {
  background-color: darkgreen;
  color: white;
}

.custom-img {
  width: 200px;
  margin: auto;
}

.details-card {
  width: 400px;
  margin: auto;
}

#custom-navbar {
  background: linear-gradient(90deg, #2f76f8, #ffb347);
  font-family: "Cosmic Neue", sans-serif;
}

#custom-navbar .nav-link,
#custom-navbar .navbar-brand {
  color: white;
}

#custom-navbar .nav-link:hover {
  color: #ffd700;
}

.page-title {
  color: darkcyan;
  border: solid black;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 15px;
  display: inline-block;
}
